/* CSS Document
*  Author: 	Luca Jost
*/

body {
  padding-bottom: 20px;
  background-color: #131316;
  color : #c2c2c2;
}

header {
  background-image: url("../images/space.jpg");
  background-size: cover;
  background-position: bottom;
  color: #fff;
  padding: 100px;
  text-align: center;
}

main {
  padding: 40px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.image {
  width: 100%;
  height: auto;
}

.image-desc {
  text-align: center;
  font-size: 16px;
  color: #999;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  padding-bottom: 50px;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
}

.filter-white{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

.external-link-icon{
  color: #fff;
  transition: all 0.3s;
  opacity: 0.6;
}

a:hover .external-link-icon {
  opacity: 1;
}
