/*
 * Custom CSS
 */

body {
  padding-bottom: 20px;
  background-color: #131316;
  color : #c2c2c2;
}

header {
  background-image: url("../images/space.jpg");
  background-size: cover;
  background-position: bottom;
  color: #fff;
  padding: 100px;
  text-align: center;
}

main {
  padding: 40px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.image {
  width: 100%;
  height: auto;
}

.image-desc {
  text-align: center;
  font-size: 16px;
  color: #999;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
}